@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fcfcfcff;
}

/* html {
	font-family: "Manrope", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}
*/

ul {
  list-style-type: none;
}

.logoImg {
  height: 3rem;
  margin: 0;
  padding: -2;
  /* display: inline; */
}

.spinnerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-right-color: #fcaf9f;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 8.9px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

.searchDiv {
  height: 4rem;
  width: 95%;
  box-shadow: 0 15px 20px -20px rgb(200, 200, 200);
  margin: 5px 0 15px 2.5%;
  background-color: #fcfcfcff;
}

.allPostsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  max-width: 95%;
  margin: 0.2rem 0 0 5%;
  /* margin-top: 15px; */
  /* background-color: #b0a8b9; */
  background-color: #fcfcfcff;
  /* border-left: 3px solid #ff8066; */
  /* box-shadow: 20px 0 20px -10px rgb(211, 210, 210),
    -20px 0 20px -10px rgb(211, 210, 210); */
}

.onePostDiv {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 1.5rem 1.6rem 0 0rem;
  /* padding: 1rem; */
  /* min-width: 20%; */
  /* border-top: 4px solid #fcaf9f; */
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.08);
}

.onePostName {
  font-size: 1.1rem;
  font-weight: 900;
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: #472d30;
  font-family: "Montserrat", sans-serif;
}

.onePostInfo {
  margin: 0.5rem 0.5rem 1rem 2rem;
  color: rgb(170, 168, 168);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: grey;
}

.oneBandId {
  margin-top: 10em;
  display: flex;
  justify-content: center;
}

.oneBandImg {
  max-width: 30%;
  margin-right: 2em;
  border-radius: 5px;
}

.oneBandDescription {
  margin-top: 3em;
}

.oneBandDescription p {
  color: grey;
}

.oneReqLinks {
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
}

.oneReqBtn {
  border-radius: 50px;
  border: 3px solid #ebfdf8;
  background: #fcaf9f;
  width: 10vw;
  height: 50px;
  margin-top: 1rem;
  transition: all 0.5s ease;
}

.homePageDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: calc(100vh - 4.5rem);
  width: 100vw;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 5rem;
  margin: 1em 0 0 0.2em;
  width: 65%;
}

.homePageBackground {
  background-image: url("../caleb-george-pH88tHG-1yw-unsplash3.jpg");
  background-size: cover;
  /* margin-top: 5px; */
  position: relative;
  bottom: 0;
  /* z-index: -2; */
}

.homePageLinksDivs {
  margin: 2rem 3rem 0 0;
  height: 10rem;
  height: 15%;
}

.homePageLinks {
  color: white;
  font-size: 1.2rem;
  /* font-weight: bolder; */
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.homePageBtn {
  border-radius: 5px;
  border: 2px solid #fcaf9f;
  background: rgba(255, 255, 255, 0.221);
  width: 25vw;
  height: 80px;
  margin-top: 1rem;
  transition: all 0.5s ease;
}

.homePageBtnDiv {
  display: flex;
  flex-direction: column;
  margin: 7.5em 0 0 2em;
}

.homePageBtn:hover {
  box-shadow: 5px 5px #fcaf9f;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  /* gap: 1rem; */
  align-items: center;
  /* background-color: rgb(255, 110, 110); */
  box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.08);
  border-radius: 50px;
  background-color: white;
  width: 35vw;
  margin: 7vh 0;
  padding: 3em 2em;
}
.formSignLog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.08);
  border-radius: 50px;
  background-color: white;
  height: 50vh;
  width: 35vw;
  margin: 15vh 0;
}

h2 {
  margin-bottom: 2rem;
}

.labelInput {
  display: flex;
  flex-direction: column;
}

input,
select {
  margin-bottom: 1rem;
  width: 20vw;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

input:focus {
  outline: none;
  border: 1.6px solid lightgrey;
  border-radius: 8px;
}

label {
  margin-bottom: 0.2rem;
}

/* .formInput {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
} */

.container {
  display: flex;
  justify-content: center;
}

.formBtn {
  /* box-sizing: border-box; */
  color: white;
  font-weight: bolder;
  border-radius: 50px;
  border: none;
  background: #fcaf9f;
  width: 20vw;
  height: 50px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.formBtn:hover,
.formBtnEdit:hover {
  box-shadow: 5px 5px #cef9ed;
}

.imgLinkDiv {
  max-height: 200px;
  max-width: 300px;
  margin: 0;
  padding: 0;
}

.profilePic {
  object-fit: cover;
  object-position: 0 0;
  width: 300px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 3px solid #fcaf9f;
}

.profilePageDiv {
  display: flex;
  justify-content: center;
  /* padding-top: 10rem; */
  width: 40vw;
  /* margin-left: 30vw; */
  /* position: absolute; */
}

.profilePicPageDiv {
  margin-right: 2rem;
  width: 10vw;
  border-right: 1px solid lightgrey;
  height: 200px;
  width: 200px;
  overflow: hidden;
  /* object-position: center; */
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.446);
}

.profilePicPage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profileInfo {
  margin-left: 2rem;
}

.profileEditDiv {
  display: flex;
  /* justify-content: center; */
}

.formBtnEdit {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9em;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fcaf9f;
  width: 10vw;
  height: 50px;
  margin: 4rem 0.1rem 0 0;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #ebfdf8;
}

.formBtnDelete {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 0.9em;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background: #fcaf9f;
  width: 10vw;
  height: 50px;
  margin: 4rem 0 0 0.1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-top: 1px solid #ebfdf8;
}

.profilePageBackground {
  background-image: url("../public/caleb-george-pH88tHG-1yw-unsplash3.jpg");
  background-size: cover;
  margin-top: 5px;
  backdrop-filter: blur(8px);
  /* z-index: -2; */
  height: calc(100vh - 4.5rem);
  padding-top: 4em;
}

.profileAllDivs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 30vw;
  margin-left: 35%;
  padding: 5em;
  border-radius: 20px;
  box-shadow: 0px 5px 18px rgba(41, 41, 41, 0.08);
  /* backdrop-filter: blur(5px); */
  background-color: rgba(255, 255, 255, 0.28);
}

.searchDiv {
  display: flex;
  justify-content: space-evenly;
  color: grey;
  font-size: 0.9em;
}

.searchBtn {
  border: none;
  background-color: white;
  width: 1.4rem;
  cursor: pointer;
}

.oneSearchBarDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBarInput {
  margin: 0 1rem 0 1rem;
  width: 13vw;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.btnDeleteDiv {
  display: flex;
  justify-content: center;
}

.btnDelete {
  border: none;
  background-color: white;
  color: grey;
}

/* .requestsDiv {
  display: flex;
  flex-direction: column;
}*/

.allReq {
  margin-top: 1.5rem;
}

.oneRequest {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.deleteReqBtn {
  border: none;
  background-color: #fcfcfcff;
  color: #fcaf9f;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  margin: 1em 0 0 35%;
  width: 3rem;
}

.allReqsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  max-width: 95%;
  margin: 0.2rem 0 0 5%;
  background-color: #fcfcfcff;
  margin-bottom: 3rem;
}

.h2Req {
  font-family: "Work Sans", sans-serif;
  color: #472d30;
  text-transform: uppercase;
  background-color: rgba(241, 238, 238, 0.634);
  padding: 0.5rem 1rem 0.5rem 4%;
}

.formEditProfile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  /* gap: 1rem; */
  align-items: center;
  /* background-color: rgb(255, 110, 110); */
  box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.08);
  border-radius: 50px;
  background-color: white;
  width: 35vw;
  margin: 3vh 0;
  padding: 1.5em 2em;
}

.updateProfileBtn {
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  color: #fcaf9f;
}

.contactDiv {
  margin-top: 10em;
}
